<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="leftnav">

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img th:src="@{/images/images/user.png}" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black" th:text="${#session.getAttribute('user').screename}"></div>
            <div class="email" style="color:black" th:text="${#session.getAttribute('user').email}"></div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons col-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">

                    <li><a th:href="'/pooler/getUserInformation'"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>

                    <li><a href="/logout"><i class="material-icons">input</i>Sign </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="/poolList">
                    <i class="material-icons">home</i>
                    <span>Pool List</span>
                </a>
            </li>
            <li>
                <a href="/pickupList">
                    <i class="material-icons">shopping_basket</i>
                    <span>Pick Up</span>
                </a>
            </li>
            <li>
                <a href="/myOrders">
                    <i class="material-icons">shopping_cart</i>
                    <span>My Orders</span>
                </a>
            </li>
            <li>
                <a href="/delivery/tasks">
                    <i class="material-icons">near_me</i>
                    <span>Delivery Tasks</span>
                </a>
            </li>
            <li>
            	<a href="/userStoreList">
                	<i class="material-icons">home</i>
                    	<span>Place Order</span>
            	</a>
            </li>
            <!-- <li>
                <a th:href="@{userStoreList}">
                    <i class="material-icons">home</i>
                    <span>View Pool Details</span>
                </a>
            </li> -->
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2020 - 2021 <a href="javascript:void(0);">Pooler's Cart</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
</div>
</html>