<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="partials/header :: header"></div>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->

<div th:insert="userPartials/top_nav :: topnav"></div>

<section>
    <div th:insert="userPartials/left_nav :: leftnav"></div>
</section>

<!-- Content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
<!--            @if((Session::has("company_record_create_success")))-->
<!--            <div class="alert bg-green alert-dismissible" role="alert">-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                {{ session("company_record_create_success") }}-->
<!--            </div>-->
<!--            @endif-->

<!--            @if((Session::has("company_record_update_success")))-->
<!--            <div class="alert bg-green alert-dismissible" role="alert">-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                {{ session("company_record_update_success") }}-->
<!--            </div>-->
<!--            @endif-->

<!--            @if((Session::has("company_invalid_request")))-->
<!--            <div class="alert bg-red alert-dismissible" role="alert">-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                {{ session("company_invalid_request") }}-->
<!--            </div>-->
<!--            @endif-->
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Pool List
                        </h2>
                    </div>

                    <div class="body">

                        <div class="table-responsive">

                            <a href="/createPool" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Create">
                                <i class="material-icons">add</i>
                            </a>

                            <table id="store_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Neighborhood</th>
                                    <th>Description</th>
                                    <th>Zip</th>
                                    <th class="nosort">Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Neighborhood</th>
                                    <th>Description</th>
                                    <th>Zip</th>
                                    <th class="nosort">Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="pool: ${pools}">
                                    <td th:text="${pool.id}" />
                                    <td th:text="${pool.name}" />
                                    <td th:text="${pool.neighborhood}" />
                                    <td th:text="${pool.description}" />
                                    <td th:text="${pool.zip}" />
                                    <td>
                                        <button th:data-pool-name="${pool.name}" th:data-id="${pool.id}" type="button" class="btn btn-primary waves-effect addPoolBtn" data-placement="top" title="Join" data-toggle="modal" data-target="#joinPoolModal">
                                            <i class="material-icons">add</i>
                                        </button>
<!--                                        <a href="/company/${ store.id}}/view" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="Leave">-->
<!--                                            <i class="material-icons">remove</i>-->
<!--                                        </a>-->
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>
<!-- Content End -->

<!-- Modal -->
<div class="modal fade" id="joinPoolModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="joinPoolModalLabel">Please enter a reference to join this pool</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="input_pool_id">Pool Name</label>
                                    <input type="text" id="input_pool_id" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="input_ref_name">Reference Name</label>
                                    <input type="text" id="input_ref_name" class="form-control">
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-12">-->
<!--                            <div class="form-group">-->
<!--                                <div class="form-line">-->
<!--                                    <label for="input_pool_leader">I know the pool leader</label>-->
<!--                                    <input type="checkbox" id="input_pool_leader" class="filled-in chk-col-deep-orange">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <button class="btn btn-primary form-control" id="joinPoolBtn">Join Pool</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>-->
<!--                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!-- Modal end -->

<div th:insert="partials/scripts :: scripts"></div>

<!-- Jquery DataTable Plugin Js -->
<script th:src="@{/js/plugins/jquery-datatable/jquery.dataTables.js}"></script>
<script th:src="@{/js/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/js/admin.js}"></script>
<script th:src="@{/js/js/pages/forms/basic-form-elements.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/js/demo.js}"></script>

<script>

    $('.js-basic-example').DataTable({
        responsive: true
    });

    $('.addPoolBtn').click(function(){

        var poolId = $(this).attr('data-id');
        var poolName = $(this).attr('data-pool-name');
        $('#input_pool_id').attr('data-pool-id', poolId);
        $('#input_pool_id').val(poolName);
    });

    $('#joinPoolBtn').click(function(){

        var poolId = $('#input_pool_id').attr('data-pool-id');
        var reference_name = $('#input_ref_name').val();

        var data = {
            pool : poolId,
            reference : reference_name
        };

        $.ajax({
            url: "/pool/join",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {

                showNotification("Pool joined successfully",'bg-green','bottom','right');
                window.location = "/poolList";
            },
            error: function(res){
                showNotification("Cannot join pool.",'bg-red','bottom','right');
            },
            failure: function (res) {
                console.log(res);
                showNotification("Error Joining pool. Please try again.",'bg-red','bottom','right');
            }
        });
    });

</script>

</body>

</html>