<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="partials/header :: header"></div>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->

<div th:insert="partials/top_nav :: topnav"></div>

<section>
    <div th:insert="partials/left_nav :: leftnav"></div>
</section>

<!-- Content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>CREATE STORE</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <h2 class="card-inside-title">Store Details</h2>
                        <form id="storeCreateForm" method="POST" action="/store/create">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="name" name="name" type="text" class="form-control" placeholder="Name" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="stnumber" name="stnumber" class="form-control" placeholder="Street Number" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="stname" name="stname" class="form-control" placeholder="Street Name" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="city" name="city" class="form-control" placeholder="City" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="state" name="state" class="form-control" placeholder="State" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" id="zipcode" name="zipcode" class="form-control" placeholder="Zipcode" maxlength="5" minlength="5" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">CREATE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->
    </div>
</section>
<!-- Content End -->

<!-- Jquery Core Js -->
<script th:src="@{/js/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/js/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/js/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/js/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/js/plugins/node-waves/waves.js}"></script>

<!-- Autosize Plugin Js -->
<script th:src="@{/js/plugins/autosize/autosize.js}"></script>

<!-- Moment Plugin Js -->
<script th:src="@{/js/plugins/momentjs/moment.js}"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script th:src="@{/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

<!-- Bootstrap Datepicker Plugin Js -->
<script th:src="@{/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<!-- Jquery DataTable Plugin Js -->
<script th:src="@{/js/plugins/jquery-datatable/jquery.dataTables.js}"></script>
<script th:src="@{/js/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>

<script>
    $('.js-basic-example').DataTable({
        responsive: true
    });
</script>


<!-- Custom Js -->
<script th:src="@{/js/js/admin.js}"></script>
<script th:src="@{/js/js/pages/forms/basic-form-elements.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/js/demo.js}"></script>
<!--<script th:src="@{/js/custom/storeDetails.js}"></script>-->
</body>

</html>