<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="partials/header :: header"></div>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->

<div th:insert="partials/top_nav :: topnav"></div>

<section>
    <div th:insert="userPartials/left_nav :: leftnav"></div>
</section>

<!-- Content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--            @if((Session::has("company_record_create_success")))-->
            <!--            <div class="alert bg-green alert-dismissible" role="alert">-->
            <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
            <!--                {{ session("company_record_create_success") }}-->
            <!--            </div>-->
            <!--            @endif-->

            <!--            @if((Session::has("company_record_update_success")))-->
            <!--            <div class="alert bg-green alert-dismissible" role="alert">-->
            <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
            <!--                {{ session("company_record_update_success") }}-->
            <!--            </div>-->
            <!--            @endif-->

            <!--            @if((Session::has("company_invalid_request")))-->
            <!--            <div class="alert bg-red alert-dismissible" role="alert">-->
            <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
            <!--                {{ session("company_invalid_request") }}-->
            <!--            </div>-->
            <!--            @endif-->
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            My Orders
                        </h2>
                    </div>

                    <div class="body">

                        <div class="table-responsive">

                            <table id="my_orders_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Store Name</th>
                                    <th>Number of items</th>
                                    <th>Total bill</th>
                                    <th>Status</th>
                                    <th class="nosort">Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Store Name</th>
                                    <th>Number of items</th>
                                    <th>Total bill</th>
                                    <th>Status</th>
                                    <th class="nosort">Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
<!--                                <tr th:each="store: ${stores}">-->
<!--                                    <td th:text="${store.id}" />-->
<!--                                    <td th:text="${store.name}" />-->
<!--                                    <td th:text="${store.streetname}" />-->
<!--                                    <td th:text="${store.city}" />-->
<!--                                    <td th:text="${store.state}" />-->
<!--                                    <td>-->
<!--                                        <a th:href="'/store/' + ${store.id} + '/edit'" type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">-->
<!--                                            <i class="material-icons">create</i>-->
<!--                                        </a>-->
<!--                                        <a th:href="'/store/' + ${store.id} + '/view'" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="top" title="View">-->
<!--                                            <i class="material-icons">remove_red_eye</i>-->
<!--                                        </a>-->
<!--                                        <button type="button" class="btn btn-danger waves-effect store_delete_btn" th:data-id="${store.id}" data-toggle="tooltip" data-placement="top" title="Delete">-->
<!--                                            <i class="material-icons">delete</i>-->
<!--                                        </button>-->
<!--                                    </td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>
<!-- Content End -->

<div th:insert="partials/scripts :: scripts"></div>

<!-- Jquery DataTable Plugin Js -->
<script th:src="@{/js/plugins/jquery-datatable/jquery.dataTables.js}"></script>
<script th:src="@{/js/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>

<script>
    $('.js-basic-example').DataTable({
        responsive: true
    });
</script>

<!-- Custom Js -->
<script th:src="@{/js/js/admin.js}"></script>
<script th:src="@{/js/js/pages/forms/basic-form-elements.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/js/demo.js}"></script>
<!--<script th:src="@{/js/custom/storeDetails.js}"></script>-->
</body>
</html>